%p#notice= notice

%p
  %b Weight:
  = @exercise_set.weight
%p
  %b Reps:
  = @exercise_set.reps
%p
  %b Target reps:
  = @exercise_set.target_reps
%p
  %b Notes:
  = @exercise_set.notes
%p
  %b Exercise:
  = @exercise_set.exercise

= link_to 'Edit', edit_exercise_set_path(@exercise_set)
\|
= link_to 'Back', exercise_sets_path
