%p#notice= notice

%p
  %b Name:
  = @exercise.name
%p
  %b Notes:
  = @exercise.notes
%p
  %b Workout:
  = @exercise.workout

= link_to 'Edit', edit_exercise_path(@exercise)
\|
= link_to 'Back', exercises_path
